  :root{
    --fa-border-color: cornflowerblue;
    --fa-border-width: 0.3vw;
  }
  
.link {
    font-size: large;
    transition: .2s ease-out;
    cursor: pointer;   
}
#setting-dropdown{
    display: flex;
    justify-content: flex-end;
    margin: 0.5vw;
}

#reddit_url{
    min-width:40vw;
}
.input-fields{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.link:hover {
color: lightblue
}

.hidden{
display: none;
}
#spinner{
    color: white;
}
.column{
    margin: 0.5vw;
}
#container{
    text-align: center;
}
