:root{
   --fa-border-color: cornflowerblue;
   --fa-border-width: 0.2rem;
 }
li{
   text-align: center;
}
#header{
   display: flex;
   justify-content: space-between;
}
.header-item{
   margin: 0.2rem;
   text-wrap-mode: nowrap;
}
#refresh-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.refresh-item{
   margin: 1rem;
}
.post-link{
   display: flex;
   justify-content: center;
   text-decoration: none;
   text-align: center;
   font-size: x-large;
   transition: .2s ease-out;
   cursor: pointer;
   margin-left: 2rem;
   margin-right: 2rem;
}
.post-link:hover{
   color: lightblue
}
.comment-time{
   display: inline-block;
}
.emote{
   max-width: 2rem;
   max-height: 2rem;
}
.list-item{
   border: 0.5px grey;
   border-style: solid none none none;
   margin-left: 3rem;
   margin-right: 3rem;
}
.comment{
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}
.hidden{
   transition: 500ms opacity;
   opacity: 0;
}
.hidden.fade-in{
   opacity: 1;
}
.center{
   text-align: center;
}

#comments{
   word-break: break-word;
}
#refresh-btn{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   right: 0;
   bottom: 0;
   margin: 0rem 1rem 1rem 1rem;
   position: fixed;
   background-color: cornflowerblue;
   box-shadow: .5px 5px 15px rgba(0,0,0,.5);
}