<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Streaming Comments</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/styles_comments.css' %}" type="text/css">
</head>

<body>
  <div id="header">

    <a href="/reddit-comment-stream" class="button header-item" role="button">
        <i class="fa-solid fa-home"></i>
    </a>

    <div id="setting-dropdown" class="dropdown is-right header-item">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <i class="fa-solid fa-gear"></i>
          </button>
        </div>
        <div id="dropdown-menu" class="dropdown-menu" role="menu">
          <div id="dropdown-content"class="dropdown-content">
            <div class="dropdown-item">
              Theme:
              <button onClick="toggleTheme('light')"> 
                <i id="icon-light" class="fas fa-sun"></i>
              </button> |
              <button onClick="toggleTheme('dark')">
                <i id="icon-dark" class="fas fa-moon"></i>
              </button> |
              <button onClick="toggleTheme('system')"> 
                  <i id="icon-system" class="fas">System</i>
              </button> 
            </div>
          </div>
        </div>
      </div>

  </div>

    
      <div id="refresh-container">
        Refresh Rate:
        <div class="select refresh-item">
            <select id="refresh-rate-options">
                <option value="5000">5 seconds</option>
                <option value="15000">15 seconds</option>
                <option selected="selected" value="30000">30 seconds</option>
                <option value="45000">45 seconds</option>
                <option value="60000">60 seconds</option>
                <option value="-1">Don't Refresh</option>
            </select>
        </div>
      
        <div id="spinner" class="refresh-item">
          <i class="fas fa-sync fa-spin fa-2x"></i>
        </div>
      </div>
      

        <a href="{{post_url_template}}" class="post-link">{{title_template}}</a>
        <br>
        <div id="comments" class="columns is-centered">
          <div class="column">
          <div class="list">
            <ul>
              <div id="inner-comment-list"> 
                {%for arthur, comment_time, comment_body in comments_template%}     
                  <div class="list-item"> 
                    <li class="comment">{{arthur|safe}} - {{comment_time|safe}} - {{comment_body|safe}}</li>                
                  </div>
                {% endfor %}
              </div>
            </ul>
          </div>
          </div>
        </div>

       <button id="refresh-btn" class="button">
            <i class="fas fa-sync"></i>
        </button>

     
</body>
<script src={% static '/comment_stream.js' %}></script> 
</html>


