<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Reddit Comment Stream</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 

  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static '/styles_index.css' %}" type="text/css">
</head>
<body>

  <div id="setting-dropdown" class="dropdown is-right">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <i class="fa-solid fa-gear"></i>
        
      </button>
    </div>
    <div id="dropdown-menu" class="dropdown-menu"  role="menu">
      <div id="dropdown-content"class="dropdown-content">
        <div class="dropdown-item">
          Theme:
          <button onClick="toggleTheme('light')"> 
            <i id="icon-light" class="fas fa-sun"></i>
          </button> |
          <button onClick="toggleTheme('dark')">
            <i id="icon-dark" class="fas fa-moon"></i>
          </button> |
          <button onClick="toggleTheme('system')"> 
              <i id="icon-system" class="fas">System</i>
            </button> 
        </div>
      </div>
    </div>
  </div>
  
  <div id="container">
    <h2 class='title'>Stream comments from any Reddit post</h2>
    <br>
    <br>
    <h4 class="subtitle">Currently active posts:</h4>

    <div class="columns">
      {%for active_sub in active_submissions_template%}        
            <div class="column">
              <div class="notification">
                <h5 class="is-size-4">{{active_sub.subreddit_name}}</h5>
                <p class="is-size-7">{{active_sub.submission_title}}</p>
                <p class="is-size-7">{{active_sub.num_comments}} Comments
                <br>
                (1 every {{active_sub.one_comment_avg}} seconds)</p>
                <p class='hidden'>{{active_sub.submission_permalink}}</p>
                <h2 class="link mt-auto">Stream this thread</h2>
              </div>
            </div>
            <br>
      {% endfor %}
    </div>
  
  <br>
  <br>
  <div id="all-input-container">
    <p class="subtitle is-6">Enter url or just the submission id (after comments/) below e.g. </p>
    <p class="has-text-link">https://www.reddit.com/r/olympics/comments/1ecs0uk/olympics_opening_ceremony_megathread/</p>
    <p class="has-text-link">1ecs0uk</p>
    {% if error %}
      <p class="has-text-danger">The Reddit URL or Submission ID was not valid, please review and try again.</p>
    {% endif %}
    <div id="input-form" class="input-fields">
      <form action="/process-url/" method="post" id="form-comment-url">
          {% csrf_token %}
          <div class="input-fields">
            <input id="reddit_url" class="input" type="text" name="reddit_url" value="" placeholder="Comment URL"  
            class="form-control">
            <input type="submit" value="OK" class="button">                
          </div>
      </form>
    </div>
  </div>

    <div id="spinner" class="center">
      <p class="subtitle is-4">Loading submission...</h4>
      <i class="fas fa-sync fa-spin fa-2x light"></i>
    </div>
    <br>
    <br>
  </div>
</div>
</body>
<script src={% static '/index.js' %}></script>

</html>